.btn {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        border-radius: 100px;
        display: inline-block;
        transition: all .2s;
        position: relative;

        // Change for the <button> element:
        border: none;
        cursor: pointer;

    }

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 1rem 2rem rgba($colour-black,0.2);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active {
        transform: translateY(-2px);
        box-shadow: 0 .5rem 1rem rgba($colour-black,0.2);    
    }

    &::after {
        content: "";
        height: 100%;
        width: 100%;
        border-radius: 100px;
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all 0.4s;
    }

    &--white {
        background-color: $colour-white;
        color: $colour-grey-dark;
    }
    
    &--white::after {
        background-color: $colour-white;
    }

    &--green {
        background-color: $colour-primary;
        color: $colour-white;
    }

    &--green::after {
        background-color: $colour-primary;
    }
    
    &--animated {
        animation: fadeInAndRise 1s ease-out;
        animation-delay: 1s;
        animation-fill-mode: backwards;
    }
}

.btn-text {
    &:link,
    &:visited {
        font-size: $default-font-size; 
        color: $colour-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $colour-primary;
        padding: 3px;
        transform: translateY(0);
        transition: all 0.2s;
    }

    &:hover {
        background-color: $colour-primary;
        color: $colour-white;
        box-shadow: 0 1rem 2rem rgba($colour-black, 0.15);
        transform: translateY(-3px);
    }

    &:active {
        transform: translateY(0);
        box-shadow: 0 0.5rem 1rem rgba($colour-black, 0.15);
    }
}
