.story {
    width: 75%;
    margin: 0 auto;
    background-color: $colour-white;
    box-shadow: 0 3rem 6rem rgba($colour-black, 0.1);
    border-radius: 3px;
    padding: 6rem;
    padding-left: 9rem; // since shape is translated 3rem to the left

    font-size: $default-font-size;
    transform: skewX(-15deg);


    &__shape {
        width: 15rem;
        height: 15rem;
        float: left;
        
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        transform: translateX(-3rem) skewX(15deg); // move to left (away from text), AND reverse story skew
        position: relative;
    }
    
    &__image {
        height: 100%;
    }

    &__caption {
        position: absolute;
        color: $colour-white;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%);
        text-align: center;
        font-size: 2rem;
        font-weight: 500;
        opacity: 0;
        transition: all 0.5s;
        backface-visibility: hidden; // fix glitch where text will jump to the right ~1px at the end of the transition
    }

    &:hover &__caption {
        transform: translate(-50%, -50%);
        opacity: 1;
    }

    &__text {
        transform: skewX(15deg); // reverse story skew
    }
}